.main{
    height: 100vh;
    width:100%;
    display: flex;
    background-image: url("../pictures/backgroundsignup.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
      /* Animation */
  animation: zoomEffect 15s infinite alternate ease-in-out;
  }
  
  /* Keyframes for Zoom Effect */
  @keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  }
      
  .content{
  margin-top: 20px;
    width: 80%;
    max-width: 800px;
    flex:1;
    padding: 20px;
    border-radius: 10px;
    margin-left: 19px;
    text-align: center;
  }
  
  h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 15px;
    font-style: bold;
    color: white;
  }
  
  .ur{
    max-width: fit-content;
    padding: 5px;
    margin: 1px 0;
    margin-bottom: 10px;
    border: 1px snow ;
    background-color: rgba(57, 24, 24, 0.829);
    color: white;
    border-radius: 3px;
    font-size: 13px;
  }
  
  .btn{
    background-color: rgba(57, 24, 24, 0.829);
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .input-wrapper {
    position: relative;
    margin-bottom: 15px; 
    align-items: center;
  }
  
  .error-message {
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: -160px; /* Adjust to position errors beside input */
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    max-width: 180px; /* Set max width for wrapping */
    word-wrap: break-word; /* Ensure long text wraps */
    white-space: normal; /* Allow text to break lines */
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .content {
        width: 90%;
    }
  }
  
  @media (min-width: 1200px) {
    .content {
        width: 80%;
    }
}